[project]
	description = Simple configurable web application to collect and display statistics from various sources (currently Gerrit, in the future Sonar and Jenkins)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JohnCannon87
[access "refs/for/refs/*"]
	read = group user/JohnCannon87
	push = group user/JohnCannon87
	label-Code-Review = -2..+2 group user/JohnCannon87
	label-Verified = -1..+1 group user/JohnCannon87
	rebase = group user/JohnCannon87
	removeReviewer = group user/JohnCannon87
	submit = group user/JohnCannon87
[access "refs/heads/*"]
	read = group user/JohnCannon87
	create = group user/JohnCannon87
	push = +force group user/JohnCannon87
	pushMerge = group user/JohnCannon87
[access "refs/tags/*"]
	push = +force group user/JohnCannon87
	pushTag = group user/JohnCannon87
	pushSignedTag = group user/JohnCannon87
